@import 'https://fonts.googleapis.com/css?family=Maitree|Prompt'; 
body{ 
	font-family: 'Maitree', sans-serif;
    color: #000000;
}


h2 {
	font-family: 'Maitree', sans-serif;
	font-size : 20px;
}



/*text สีเขียว ขีดเส้นใต้*/
.post-success {  
	text-align:right;
	text-decoration: underline;
	color: #10894F; 
}

/*text สีฟ้า ขีดเส้นใต้*/
.post-blue {  
	text-align:right;
	color: #66ccff; 
}


/*text สีแดง ขีดเส้นใต้*/
.post-danger {  
	text-align:right;
	text-decoration: underline;
	color: #e51c23; 
}


.select2-container {
  width: 100% !important;
}

/*สีพื้นหลัง*/
.gray{
	background-color:#F5F5F5;
}

.lightBlue{
	background-color:#E1F5FE;
}

/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.txt_tooltip {
  position: relative;
  cursor: pointer;
  /*white-space: pre-wrap; */
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.txt_tooltip:before,
.txt_tooltip:after {

  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.txt_tooltip:hover:before,
.txt_tooltip:hover:after,
.txt_tooltip:focus:before,
.txt_tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.txt_tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.txt_tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  width:auto;
  min-width:160px;
  max-width:500px;
 
  
  padding-top: 8px;
  /*width: 160px;*/
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
 
  
  font-family: 'TH SarabunPSK';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  /*text-align:center;*/
 /* white-space: pre-wrap; */
  
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,

.txt_tooltip:before,
.txt_tooltip:after,
.txt_tooltip-top:before,
.txt_tooltip-top:after {  
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.txt_tooltip:before,
.txt_tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.txt_tooltip:after,
.txt_tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.txt_tooltip:hover:before,
.txt_tooltip:hover:after,
.txt_tooltip:focus:before,
.txt_tooltip:focus:after,
.txt_tooltip-top:hover:before,
.txt_tooltip-top:hover:after,
.txt_tooltip-top:focus:before,
.txt_tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.txt_tooltip-left:before,
.txt_tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.txt_tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.txt_tooltip-left:hover:before,
.txt_tooltip-left:hover:after,
.txt_tooltip-left:focus:before,
.txt_tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.txt_tooltip-bottom:before,
.txt_tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.txt_tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.txt_tooltip-bottom:hover:before,
.txt_tooltip-bottom:hover:after,
.txt_tooltip-bottom:focus:before,
.txt_tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.txt_tooltip-right:before,
.txt_tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.txt_tooltip-right:before {
  
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.txt_tooltip-right:hover:before,
.txt_tooltip-right:hover:after,
.txt_tooltip-right:focus:before,
.txt_tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.txt_tooltip-left:before,
.txt_tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.txt_tooltip-left:after,
.txt_tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}


.input:hover .txt_tooltip {
    background: blue;
    border-radius: 3px;
    bottom: -60px;
    color: white;
    display: inline;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
}

.input:hover .txt_tooltip:before {
    display: block;
    content: "";
    position: absolute;
    top: -5px;
    width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid blue;
}


/************ class *****************/
/* tile card สีฟ้าหม่น */
.info-tile.tile-baby-blue {
    background: #b6e5e6;
}

/* tile card สีเขียว */
.info-tile.tile-green {
    background: #bbe48b; 
}


/* tile card สีเหลือง */
.info-tile.tile-yellow {
    background: #f9d53d;
}





