footer {
    bottom: 0;
    height: 32px;
    position: fixed;
    width: 100%;
}
.required {
	color:red;
	font-weight: bold;
}
body {
    background-color: #f5f5f5;
    color: #000000;
}
.note-editor .note-editable {
	background : #fcf9ed none repeat scroll 0 0
}
table.clickable tbody tr:hover {
    background: #e5e5e5 none repeat scroll 0 0;
}
table.table-bordered thead th, table.table-bordered thead td {
    border : 1px solid #009688;
	background-color : #baffff;
	vertical-align:middle;
}
table.table-bordered tbody th, table.table-bordered tbody td {
    border : 1px solid #009688;
}
table.table-bordered tfoot th, table.table-bordered tfoot td {
    border : 1px solid #009688;
}
.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
	border : 1px solid #009688;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    border: 1px solid #616161;
    box-shadow: none !important;
	color: #000000;
}
.form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #616161;
    box-shadow: none !important;
    color: #000000;
}
textarea.form-control {
    border-radius: 2px;
    border-top: 1px solid #616161;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.01) inset !important;
    padding: 6px 8px;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border: 1px solid #616161;
    border-radius: 5px;
    outline: medium none;
}
.select2-container .select2-choice {
    -moz-user-select: none;
    background-clip: padding-box;
    background-color: #fcfcfc;
    border: 1px solid #616161;
    border-radius: 2px;
    box-shadow: none !important;
    color: #666;
    display: block;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}